*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}
.image-container{
  object-fit: contain;
  background-image: url("../img/homepagebackground.png");
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
.navigation-links{
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  transition: transform 0.1s ease-in;
}

.navigation-links li a{
  text-decoration: none;
  color: black;
}
.navigation-links li a:hover{
  color: blue;
}
.logo-name{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.logo-name span{
  font-family: 'Piedra', cursive;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #4F4F4F;
}
.image-container .greeting{
  width: 399px;
  height: 120px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.btn-explore{
  width: 265px;
  height: 50px;
  background-color:#2263F0;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 5px;
  text-decoration: none;
}

.menu-button {
    border: 0;
    background: transparent;
    padding: 6px 8px;
    display: none;
}

.menu-button:focus + .navigation-links {
  transform: scaleY(1);
}

@media only screen and (max-width: 1024px) {
  .navigation-links {
    transform: scaleY(0);
    position: absolute;
    right: 0;
    margin-right: 48px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: auto;
    top: 50px;
    background-color: #ffffff;
    padding: 10px 20px;
    align-items: center;

  }

  .navigation-links > li {
    padding: 7px 40px;
  }

  .menu-button {
    display: block;
  }

  .logo-name {
    padding-left: 0;
  }


}

@media only screen and (max-width: 480px) {
  .navigation {
    padding: 0 20px;
  }

  .navigation-links {
    margin-right: 0px;
  }

  .image-container .greeting {
    font-size: 35px;
  }
}
