*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}
/* GENERAL */
li {
    list-style: none;
}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
    background: rgba(255, 255, 255, 0.98);
    opacity: 0.99;
}
.header_logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.header_logo span {
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: 21px;
    color: #000000;
}
.header_right {
    display: flex;
    align-items: center;
}
.nav_link {
    display: inline-block;
    font-weight: 700;
    margin: 0 40px;
}
.nav_link a {
    font-size: 16px;
    color: #021764;
    padding: 5px;
}
.nav_link:hover,
.nav_link--active {
    border-bottom: 2px solid #021764;
}
.header_btn {
    color: #fff;
    background-color: #021764;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 60px;
}
/* MOBILE MENU */
.mob_menu {
    display: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #021764;
    border-radius: 5px;
}

/* LANDING SECTION */
.landing {
    background-image: url(../img/melissa-walker-horn-jsEftnpVh1U-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 84vh;
    position: relative;
}
.landing_content {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 50%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5% 10% 5% 2%;
    color: #021764;
}
.landing_content h1 {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 48px;
}
.landing_content p {
    color: #000000;
}

/* FOOTER */
.footer {
    background: linear-gradient(0deg, #021764, #021764);
    color: #fff;
}
.footer_top,
.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_top {
    padding: 8% 3% 5% 3%; /* Top Right Bottom Left */
    border-bottom: 2px solid #fff;
}
.footer_bottom {
    padding: 2% 4%;
}
.footer_top_logo img {
    width: 50px;
    height: 70px;
}
.footer_top_right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 100px;
}
.footer_top_right_list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
}
.footer_top_right_list h3 {
    margin-bottom: 15px;
}
.footer_top_right_list ul li {
    margin-bottom: 5px;
}
.footer_btn button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.015em;
    width: 100px; /* give the buttons equal width of 100px */
    border-radius: 5px;
    padding: 6px 20px;
    margin-bottom: 10px;
    float: right;
}
.reg_btn {
    color: #fff;
    background-color: aqua;
    border: none;
}
.log_btn {
    color: aqua;
    background-color: #fff;
    border: 1px solid aqua;
}
.footer_copyright,
.footer_social {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 160% */
    letter-spacing: -0.015em;
}
.footer_social i {
    font-size: 27px;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px;
    color: #021764;
    background: #fff;
    margin: 0 6px;
    border-radius: 50%;
}
body{
    width: 100%;
    height: 100%;
}
.navigation{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ADADAD;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    cursor: pointer;
}
.logo .logo-img{
    width: 30px;
    height: 30px;
    background: #C4C4C4;
    border-radius: 100%;

}
.navigation .navigation-links{
    width: 40%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navigation .navigation-links li{
    width: 100px;
    height: 30px;
    background: #C4C4C4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-links li a{
    color: #000000;
    text-decoration: none;
}

.navigation-links li a:hover{
    border-bottom: 1px solid rgb(2, 23, 100);
}

.reservation{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
}

.reservation a{
    color: #000000;
    text-decoration: none;
}

.reservation a:hover{
    border-bottom: 1px solid rgb(2, 23, 100);
}

.head-container{
    margin-bottom: 50px;
}

.media{
    width: 100%;
}

/* gallery styles */

.gallery-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.gallery-restaurant{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-restaurant .restaurant-img{
    width: 50%;
    height: 639px;
    border-radius: 30%;
    object-fit: cover;
    margin-left: 100px;
}

.gallery-container .details{
    width: 411px;
    height: 389px;
    background:rgba(2, 23, 100, 0.88);
    padding: 40px 30px;
    margin-left: -20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.gallery-container .details p{
    font-size: .8em;
    text-align: justify;
}


/* gallery leisure style */

.gallery-leisure{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-leisure .leisure-img{
    width: 655px;
    height: 639px;
    border-radius: 30%;
    object-fit: cover;
}
.gallery-container .details{
    margin-right: -20px;
    z-index: 1;
}

/* gallery spa style */

.gallery-spa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-spa .spa-img{
    width: 655px;
    height: 639px;
    border-radius: 30%;
    object-fit: cover;
}



/* relaxation center styles */

.gallery-center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.gallery-center .center-img{
    width: 655px;
    height: 639px;
    border-radius: 30%;
    object-fit: cover;
}

/* responsiveness */
@media only screen and (max-width: 720px){
  .gallery-container{
    display: flex;
    flex-direction: column;
  }
.gallery-restaurant .restaurant-img{
    width: 50%;
    height: 339px;
    border-radius: 30%;
    object-fit: cover;
    margin-left: 50px;
}

.gallery-container .details{
    width: 211px;
    height: 239px;
    background:rgba(2, 23, 100, 0.88);
    padding: 40px 30px;
    margin-left: -20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.gallery-leisure .leisure-img{
   width: 50%;
    height: 339px;
    border-radius: 30%;
    object-fit: cover;
}
.gallery-spa .spa-img{
   width: 50%;
    height: 339px;
    border-radius: 30%;
    object-fit: cover;
}
.gallery-center .center-img{
    width: 50%;
    height: 339px;
    border-radius: 30%;
    object-fit: cover;
}
}

@media only screen and (max-width: 520px){
  .gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.gallery-restaurant .restaurant-img{
    width: 40%;
    height: 239px;
    border-radius: 40%;
    object-fit: cover;
    margin-left: 10px;
}
.gallery-leisure .leisure-img{
    width: 40%;
    height: 239px;
    border-radius: 40%;
    object-fit: cover;
}
.gallery-spa .spa-img{
   width: 40%;
    height: 239px;
    border-radius: 40%;
    object-fit: cover;
}
.gallery-center .center-img{
    width: 40%;
    height: 239px;
    border-radius: 40%;
    object-fit: cover;
}
.gallery-container .details{
    width: 211px;
    height: 199px;
    background:rgba(2, 23, 100, 0.88);
    padding: 0px 10px;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
}
/* Small tablet to big tablet: from 991px to 1129px */
@media only screen and (max-width: 1129px) {
    .nav_link {
        margin: 0 20px;
    }
    .landing_content {
        padding: 3% 10% 3% 2%;
    }
    .landing_content h1 {
        font-size: 31px;
    }
    .landing_content p {
        color: #000000;
        font-size: 14px;
    }
}

/* Small phones to small tablets: from 740px to 990px */
@media only screen and (max-width: 990px) {
    .header_btn {
        display: none;
    }
}

/* Small phones: from 636px to 740px */
@media only screen and (max-width: 739px) {
    .header_right {
        display: none;
    }
    .header_btn {
        margin-left: 0;
        display: inline;
    }
    /* Mobile menu */
    .mob_menu {
        display: inline;
    }
    .landing_content {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%, -50%);
        width: inherit;
        height: auto;
        padding: 5% 10% 5% 2%;
    }
    .footer_top,
    .footer_bottom {
        flex-flow: column wrap; /* chnage from default direction row to column */
        align-items: flex-start;
    }
    .footer_top_right {
        width: 100%; /* take the full body */
    }
    .footer_top_logo,
    .footer_copyright {
        margin-bottom: 20px;
    }

}

/* Small phones: from 446px to 635px */
@media only screen and (max-width: 635px) {
    .footer_top_right {
        grid-template-columns: repeat(1, auto);
        grid-gap: 20px;
    }
    .footer_btn button {
        /width: 100%;
        width: 100px; /* give the buttons equal width of 100px */
        border-radius: 5px;
        padding: 6px 20px;
        margin: 0 10px 0 0; /* set all margin to zero except margin-right */
        float: left;
    }
}

/* Small phones: from 0 to 445px */
@media only screen and (max-width: 445px) {
    .footer_top_right_list {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}
